{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nasabah</h1>

    <table>
        <tbody>
            <tr>
                <th>Nama</th>
                <td>{{ nasabah.nama }}</td>
            </tr>
            <tr>
                <th>Nocredit</th>
                <td>{{ nasabah.nocredit }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ nasabah.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('nasabah_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('nasabah_edit', { 'id': nasabah.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
